In [1]:
import pandas as pd
import os

In [2]:
DATA_DIR = os.path.join(os.getcwd(), 'data')

In [5]:
ind1_df = pd.read_csv(os.path.join(DATA_DIR, "GSE113099_individual.1.grch.fpkm.matrix.no.doublets.or.empty.txt"),
                      sep='\t', index_col=0)

ind1_df.head()

,L1_I1_BAS_A1,L1_I1_BAS_A2,L1_I1_BAS_A3,L1_I1_BAS_A4,L1_I1_BAS_A5,L1_I1_BAS_A6,L1_I1_BAS_A7,L1_I1_BAS_A8,L1_I1_BAS_A9,L1_I1_BAS_A10,...,L4_I1_LUM_G6,L4_I1_LUM_G10,L4_I1_LUM_G11,L4_I1_LUM_H1,L4_I1_LUM_H4,L4_I1_LUM_H5,L4_I1_LUM_H7,L4_I1_LUM_H10,L4_I1_LUM_H11,L4_I1_LUM_H12
RP11-27G14.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
MADD,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,337.44,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
MAST2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,1.43,0.0,0.0
TRBJ2-5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
TRBJ2-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0

In [6]:
ind1_df.shape

(33694, 296)

In [9]:
ind1_df.describe()

,L1_I1_BAS_A1,L1_I1_BAS_A2,L1_I1_BAS_A3,L1_I1_BAS_A4,L1_I1_BAS_A5,L1_I1_BAS_A6,L1_I1_BAS_A7,L1_I1_BAS_A8,L1_I1_BAS_A9,L1_I1_BAS_A10,...,L4_I1_LUM_G6,L4_I1_LUM_G10,L4_I1_LUM_G11,L4_I1_LUM_H1,L4_I1_LUM_H4,L4_I1_LUM_H5,L4_I1_LUM_H7,L4_I1_LUM_H10,L4_I1_LUM_H11,L4_I1_LUM_H12
count,3.369400e+04,33694.000000,33694.000000,33694.000000,33694.00000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,...,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000
mean,7.474675e+01,30.727527,24.871530,27.666049,33.17309,26.653066,24.755372,30.432897,29.382933,38.304929,...,27.949770,33.682366,30.450103,29.395536,25.713865,34.932597,27.714809,23.504072,41.199782,42.147078
std,7.073737e+03,546.080953,968.967172,656.617104,569.75940,318.969753,1175.648062,884.295104,317.788166,1603.913321,...,624.994306,1073.655171,926.962552,442.525939,831.600515,934.163164,1009.747678,372.811615,2370.932354,2539.712002
min,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.146227e+06,43069.480000,143109.110000,102148.020000,43403.37000,21880.570000,156004.600000,150007.980000,17070.450000,145329.570000,...,83889.830000,103660.050000,66235.470000,58863.010000,56660.430000,108560.390000,109191.760000,34198.690000,262163.930000,295158.460000

In [11]:
ind2_df = pd.read_csv(os.path.join(DATA_DIR, "GSE113127_individual.2.grch.fpkm.matrix.no.doublets.or.empty.txt"),
                      sep='\t', index_col=0)
ind2_df.head()

,L1_I2_BAS_A1,L1_I2_BAS_A2,L1_I2_BAS_A4,L1_I2_BAS_A5,L1_I2_BAS_A7,L1_I2_BAS_A8,L1_I2_BAS_A9,L1_I2_BAS_A10,L1_I2_BAS_A11,L1_I2_BAS_B2,...,L3_I2_BAS_H2,L3_I2_BAS_H3,L3_I2_BAS_H4,L3_I2_BAS_H5,L3_I2_BAS_H6,L3_I2_BAS_H7,L3_I2_BAS_H8,L3_I2_BAS_H9,L3_I2_BAS_H10,L3_I2_BAS_H11
RP11-27G14.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MADD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MAST2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRBJ2-5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRBJ2-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
ind2_df.shape

(33694, 246)

In [13]:
ind2_df.describe()

,L1_I2_BAS_A1,L1_I2_BAS_A2,L1_I2_BAS_A4,L1_I2_BAS_A5,L1_I2_BAS_A7,L1_I2_BAS_A8,L1_I2_BAS_A9,L1_I2_BAS_A10,L1_I2_BAS_A11,L1_I2_BAS_B2,...,L3_I2_BAS_H2,L3_I2_BAS_H3,L3_I2_BAS_H4,L3_I2_BAS_H5,L3_I2_BAS_H6,L3_I2_BAS_H7,L3_I2_BAS_H8,L3_I2_BAS_H9,L3_I2_BAS_H10,L3_I2_BAS_H11
count,33694.00000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,...,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000
mean,29.69122,40.631473,38.401762,30.425075,31.336460,46.707517,29.583748,41.147838,44.585633,24.373522,...,33.321706,44.324231,40.133615,24.146978,41.637933,33.865447,27.825416,35.608371,45.717216,43.784090
std,2751.56022,1147.971153,2314.019085,307.332742,551.428437,2687.444887,341.863464,2118.088660,2635.090516,1030.634596,...,1282.934327,2698.739453,2163.316642,217.411234,2139.745177,622.639528,383.302620,1006.123186,2925.588036,2565.764247
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,488622.67000,117711.310000,232920.370000,17021.020000,49973.890000,272113.350000,20036.250000,288249.380000,259966.120000,182544.400000,...,116601.740000,338955.000000,216269.540000,10629.040000,185637.810000,54722.670000,31175.820000,101230.280000,381542.610000,288360.430000

In [14]:
ind3_df = pd.read_csv(os.path.join(DATA_DIR, "GSE113198_individual.3.grch.fpkm.matrix.no.doublets.or.empty.txt"),
                      sep='\t', index_col=0)

ind3_df.head()

,L1_I3_BAS_A1,L1_I3_BAS_A2,L1_I3_BAS_A3,L1_I3_BAS_A4,L1_I3_BAS_A5,L1_I3_BAS_A6,L1_I3_BAS_A7,L1_I3_BAS_A8,L1_I3_BAS_A9,L1_I3_BAS_A10,...,L5_I3_BAS_G8,L5_I3_BAS_G9,L5_I3_BAS_G10,L5_I3_BAS_G11,L5_I3_BAS_G12,L5_I3_BAS_H1,L5_I3_BAS_H2,L5_I3_BAS_H5,L5_I3_BAS_H8,L5_I3_BAS_H12
RP11-27G14.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
MADD,0.0,0.0,0.2,0.0,0.0,0.0,0.0,22.58,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.29,0.0,0.0,0.0
MAST2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
TRBJ2-5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
TRBJ2-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0

In [15]:
ind3_df.shape

(33694, 325)

In [16]:
ind3_df.describe()

,L1_I3_BAS_A1,L1_I3_BAS_A2,L1_I3_BAS_A3,L1_I3_BAS_A4,L1_I3_BAS_A5,L1_I3_BAS_A6,L1_I3_BAS_A7,L1_I3_BAS_A8,L1_I3_BAS_A9,L1_I3_BAS_A10,...,L5_I3_BAS_G8,L5_I3_BAS_G9,L5_I3_BAS_G10,L5_I3_BAS_G11,L5_I3_BAS_G12,L5_I3_BAS_H1,L5_I3_BAS_H2,L5_I3_BAS_H5,L5_I3_BAS_H8,L5_I3_BAS_H12
count,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,...,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000,33694.000000
mean,33.763220,26.721755,29.841442,32.108812,35.257206,26.974531,31.805181,30.751645,31.081913,29.738514,...,30.051100,37.959978,30.572414,27.968671,30.545472,35.204569,30.227361,26.015619,30.905330,26.901630
std,739.003912,341.170189,594.793955,766.268523,943.319591,448.124763,527.792951,709.250166,600.947858,645.592345,...,587.271804,1669.684482,484.081289,400.631448,474.171351,1303.439757,528.964572,395.722098,517.820052,362.373464
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,81396.350000,38767.480000,87524.660000,108202.930000,132113.860000,37494.000000,51395.640000,90629.890000,67227.360000,86846.740000,...,70865.490000,188379.140000,38778.960000,40527.580000,45516.790000,127613.820000,49590.410000,44140.730000,41680.110000,29303.240000